[class^="grid-"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 575px) {
  .grid-xs-1 {
    display: inline-block;
    width: 8.33333%;
  }
  .grid-xs-offset-1 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-2 {
    display: inline-block;
    width: 16.66667%;
  }
  .grid-xs-offset-2 {
    margin-left: 16.66667%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-3 {
    display: inline-block;
    width: 25%;
  }
  .grid-xs-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-4 {
    display: inline-block;
    width: 33.33333%;
  }
  .grid-xs-offset-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-5 {
    display: inline-block;
    width: 41.66667%;
  }
  .grid-xs-offset-5 {
    margin-left: 41.66667%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-6 {
    display: inline-block;
    width: 50%;
  }
  .grid-xs-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-7 {
    display: inline-block;
    width: 58.33333%;
  }
  .grid-xs-offset-7 {
    margin-left: 58.33333%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-8 {
    display: inline-block;
    width: 66.66667%;
  }
  .grid-xs-offset-8 {
    margin-left: 66.66667%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-9 {
    display: inline-block;
    width: 75%;
  }
  .grid-xs-offset-9 {
    margin-left: 75%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-10 {
    display: inline-block;
    width: 83.33333%;
  }
  .grid-xs-offset-10 {
    margin-left: 83.33333%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-11 {
    display: inline-block;
    width: 91.66667%;
  }
  .grid-xs-offset-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (max-width: 575px) {
  .grid-xs-12 {
    display: inline-block;
    width: 100%;
  }
  .grid-xs-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-1 {
    display: inline-block;
    width: 8.33333%;
  }
  .grid-sm-offset-1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-2 {
    display: inline-block;
    width: 16.66667%;
  }
  .grid-sm-offset-2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-3 {
    display: inline-block;
    width: 25%;
  }
  .grid-sm-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-4 {
    display: inline-block;
    width: 33.33333%;
  }
  .grid-sm-offset-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-5 {
    display: inline-block;
    width: 41.66667%;
  }
  .grid-sm-offset-5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-6 {
    display: inline-block;
    width: 50%;
  }
  .grid-sm-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-7 {
    display: inline-block;
    width: 58.33333%;
  }
  .grid-sm-offset-7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-8 {
    display: inline-block;
    width: 66.66667%;
  }
  .grid-sm-offset-8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-9 {
    display: inline-block;
    width: 75%;
  }
  .grid-sm-offset-9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-10 {
    display: inline-block;
    width: 83.33333%;
  }
  .grid-sm-offset-10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-11 {
    display: inline-block;
    width: 91.66667%;
  }
  .grid-sm-offset-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 576px) {
  .grid-sm-12 {
    display: inline-block;
    width: 100%;
  }
  .grid-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-1 {
    display: inline-block;
    width: 8.33333%;
  }
  .grid-md-offset-1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-2 {
    display: inline-block;
    width: 16.66667%;
  }
  .grid-md-offset-2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-3 {
    display: inline-block;
    width: 25%;
  }
  .grid-md-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-4 {
    display: inline-block;
    width: 33.33333%;
  }
  .grid-md-offset-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-5 {
    display: inline-block;
    width: 41.66667%;
  }
  .grid-md-offset-5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-6 {
    display: inline-block;
    width: 50%;
  }
  .grid-md-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-7 {
    display: inline-block;
    width: 58.33333%;
  }
  .grid-md-offset-7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-8 {
    display: inline-block;
    width: 66.66667%;
  }
  .grid-md-offset-8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-9 {
    display: inline-block;
    width: 75%;
  }
  .grid-md-offset-9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-10 {
    display: inline-block;
    width: 83.33333%;
  }
  .grid-md-offset-10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-11 {
    display: inline-block;
    width: 91.66667%;
  }
  .grid-md-offset-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 768px) {
  .grid-md-12 {
    display: inline-block;
    width: 100%;
  }
  .grid-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-1 {
    display: inline-block;
    width: 8.33333%;
  }
  .grid-lg-offset-1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-2 {
    display: inline-block;
    width: 16.66667%;
  }
  .grid-lg-offset-2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-3 {
    display: inline-block;
    width: 25%;
  }
  .grid-lg-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-4 {
    display: inline-block;
    width: 33.33333%;
  }
  .grid-lg-offset-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-5 {
    display: inline-block;
    width: 41.66667%;
  }
  .grid-lg-offset-5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-6 {
    display: inline-block;
    width: 50%;
  }
  .grid-lg-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-7 {
    display: inline-block;
    width: 58.33333%;
  }
  .grid-lg-offset-7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-8 {
    display: inline-block;
    width: 66.66667%;
  }
  .grid-lg-offset-8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-9 {
    display: inline-block;
    width: 75%;
  }
  .grid-lg-offset-9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-10 {
    display: inline-block;
    width: 83.33333%;
  }
  .grid-lg-offset-10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-11 {
    display: inline-block;
    width: 91.66667%;
  }
  .grid-lg-offset-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 976px) {
  .grid-lg-12 {
    display: inline-block;
    width: 100%;
  }
  .grid-lg-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-1 {
    display: inline-block;
    width: 8.33333%;
  }
  .grid-xl-offset-1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-2 {
    display: inline-block;
    width: 16.66667%;
  }
  .grid-xl-offset-2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-3 {
    display: inline-block;
    width: 25%;
  }
  .grid-xl-offset-3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-4 {
    display: inline-block;
    width: 33.33333%;
  }
  .grid-xl-offset-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-5 {
    display: inline-block;
    width: 41.66667%;
  }
  .grid-xl-offset-5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-6 {
    display: inline-block;
    width: 50%;
  }
  .grid-xl-offset-6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-7 {
    display: inline-block;
    width: 58.33333%;
  }
  .grid-xl-offset-7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-8 {
    display: inline-block;
    width: 66.66667%;
  }
  .grid-xl-offset-8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-9 {
    display: inline-block;
    width: 75%;
  }
  .grid-xl-offset-9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-10 {
    display: inline-block;
    width: 83.33333%;
  }
  .grid-xl-offset-10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-11 {
    display: inline-block;
    width: 91.66667%;
  }
  .grid-xl-offset-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-xl-12 {
    display: inline-block;
    width: 100%;
  }
  .grid-xl-offset-12 {
    margin-left: 100%;
  }
}

#block-drupal-light-local-tasks > div {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#block-drupal-light-local-tasks > div a {
  flex: 1;
  text-align: center;
}

main {
  flex: 1;
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button, input {
  display: inherit;
  padding: 0.5rem;
  font: inherit;
  margin-bottom: 0.5rem;
}

input[type=color], input[type=image] {
  padding: 0;
  height: 2.57rem;
  overflow: hidden;
}

.button {
  border-width: 0.1rem;
  border-left-width: 0.3rem;
  vertical-align: middle;
}

input:not([type=button]):not([type=color]):not([type=image]):not([type=reset]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):not([type=submit]) {
  border-width: 0.1rem;
}

input[type=checkbox], input[type=radio] {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

.button-sm {
  font-size: 0.5rem;
  padding: 0.25rem;
}

.button-lg {
  font-size: 1.5rem;
  padding: 1rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

body {
  color: #252320;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1.1rem;
  line-height: 1.42857;
}

h1 {
  font-size: 3rem;
  margin-top: 0.942rem;
  margin-bottom: 1.884rem;
}

h2 {
  font-size: 2.7rem;
  margin-top: 0.785rem;
  margin-bottom: 1.57rem;
}

h3 {
  font-size: 2.4rem;
  margin-top: 0.628rem;
  margin-bottom: 1.256rem;
}

h4 {
  font-size: 2.1rem;
  margin-top: 0.471rem;
  margin-bottom: 0.942rem;
}

h5 {
  font-size: 1.8rem;
  margin-top: 0.314rem;
  margin-bottom: 0.628rem;
}

h6 {
  font-size: 1.5rem;
  margin-top: 0.157rem;
  margin-bottom: 0.314rem;
}

p {
  margin-top: 0.157rem;
  margin-bottom: 0.314rem;
}

.text-muted {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

.visually-hidden {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  height: auto;
  overflow: visible;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.invisible {
  visibility: hidden;
}

/*# sourceMappingURL=essential.css.map */