.header {
  background: linear-gradient(90deg, #4695b4, #428ca9);
  z-index: 500;
}

@media screen and (min-width: 768px) {
  .header {
    height: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .header.fixed {
    left: 0;
    position: fixed;
    right: 0;
  }
  .header.fixed + * {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .header > nav {
    display: inline-flex;
  }
}

.header ul {
  height: initial;
  margin: 0;
  padding: 0;
}

.header ul > li {
  display: block;
  height: 100%;
}

@media screen and (min-width: 576px) {
  .header ul > li {
    float: left;
  }
}

@media screen and (max-width: 575px) {
  .header-brand, .header .menu {
    flex-direction: column;
  }
}

.header-brand a, .header .menu a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 1rem;
}

@media screen and (max-width: 575px) {
  .header-brand a, .header .menu a {
    text-align: center;
  }
}

.header-brand a p, .header .menu a p {
  margin: 0;
}

.header-brand {
  display: flex;
  align-items: center;
}

.header-brand a {
  flex-direction: column;
}

@media screen and (max-width: 575px) {
  .header-brand a {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .header-brand a {
    align-items: baseline;
  }
}

.header-brand, .header > nav {
  height: 50%;
}

.header {
  box-shadow: 0px 1px 5px 1px rgba(37, 35, 32, 0.33);
}

.header-brand > a, .header .menu a {
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.header-brand > a:hover, .header .menu a:hover {
  background-color: rgba(37, 35, 32, 0.05);
}

.header-brand > a:active, .header .menu a:active {
  background-color: rgba(37, 35, 32, 0.1);
}

@media screen and (min-width: 576px) {
  .header .menu a {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

/*# sourceMappingURL=header.css.map */