input:focus {
  outline: none;
}

.button {
  background-color: #fff;
  border-color: #bfbfbf;
  border-style: solid;
  border-radius: 0.5rem;
  color: #252320;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s linear, border-color 0.2s linear;
}

.button:hover {
  background-color: #e6e6e6;
  border-color: #a6a6a6;
}

.button:active {
  background-color: #cccccc;
  border-color: #8c8c8c;
}

.button.primary {
  background-color: #4695b4;
  border-color: #29586a;
  color: #fff;
}

.button.primary:hover {
  background-color: #38768f;
  border-color: #1b3a46;
}

.button.primary:active {
  background-color: #29586a;
  border-color: #0d1b21;
}

.button-row .button {
  border-radius: 0;
}

.button-row .button:not(:first-of-type) {
  border-left: none;
}

.button-row .button:first-of-type {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.button-row .button:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

input:not([type=button]):not([type=color]):not([type=image]):not([type=reset]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):not([type=submit]) {
  border-color: #aaa;
  border-style: solid;
  border-radius: 0.5rem;
  transition: border 0.2s linear;
}

input:not([type=button]):not([type=color]):not([type=image]):not([type=reset]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):not([type=submit]):hover, input:not([type=button]):not([type=color]):not([type=image]):not([type=reset]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):not([type=submit]) .button:hover {
  border-color: #919191;
}

input:not([type=button]):not([type=color]):not([type=image]):not([type=reset]):not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=range]):not([type=submit]):focus {
  border-color: #252320;
}

body {
  background: linear-gradient(-90deg, #fff, #f7f7f7);
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  background-color: #38768f;
  color: #fff;
}

/*# sourceMappingURL=non-essential.css.map */