// Colours
$black: #252320;
$gray:  #aaa;
$white: #fff;

$color-primary: hsl(197, 44%, 49%);

$background: linear-gradient(-90deg, $white, darken($white, 3%));

// Spacing
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;

// Typography
$font-size-sm: 0.5rem;
$font-size: 1.1rem;
$font-size-lg: 1.5rem;

$text-color: $black;

$heading-scale: 0.3;

$line-height: 1.428571429;

$line-height-computed: floor(($font-size * $line-height * 100)) / 100;

$text-margin-top: $line-height-computed / 10;
$text-margin-bottom: $line-height-computed / 5;

// Grid
$grid-col-count: 12;
$sizes:      "xs"  "sm"  "md"  "lg"   "xl";
$breakpoints: 575px 768px 976px 1200px 2000px;

// Media queries
$devices: "screen and (max-width: #{nth($breakpoints, 1)})"
          "screen and (min-width: #{nth($breakpoints, 1) + 1})"
          "screen and (min-width: #{nth($breakpoints, 2)})"
          "screen and (min-width: #{nth($breakpoints, 3)})"
          "screen and (min-width: #{nth($breakpoints, 4)})"
          "screen and (min-width: #{nth($breakpoints, 5)})";

// Form
$textbox-elements: "input:not([type=button])" +
                   ":not([type=color])" +
                   ":not([type=image])" +
                   ":not([type=reset])" +
                   ":not([type=submit])" +
                   ":not([type=checkbox])" +
                   ":not([type=radio])" +
                   ":not([type=range])" +
                   ":not([type=submit])";

$button-border-width: 0.1rem;

$button-border-radius-sm: 0.25rem;
$button-border-radius: 0.5rem;
$button-border-radius-lg: 1rem;

$button-padding-sm: 0.25rem;
$button-padding-md: 0.5rem;
$button-padding-lg: 1rem;

$button-color-default: $white;
$button-color-primary: $color-primary;
$button-border-color-default: darken($button-color-default, 25%);
$button-border-color-primary: darken($button-color-primary, 20%);

// Header
$header-height: 10rem;
$header-color: linear-gradient(90deg, $color-primary, darken($color-primary, 3%));

// Misc
$transition: 0.2s linear;
