.button, input {
  display: inherit;
  padding: $button-padding-md;
  font: inherit;
  margin-bottom: $margin-sm;
}

input[type=color], input[type=image] {
  padding: 0;
  height: $line-height-computed + ($padding-sm * 2);
  overflow: hidden;
}

.button {
  border-width: $button-border-width;
  border-left-width: $button-border-width * 3;
  vertical-align: middle;
}

#{$textbox-elements} {
  border-width: $button-border-width;
}

input[type=checkbox], input[type=radio] {
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

// Helper classes
.button-sm {
  font-size: $font-size-sm;
  padding: $button-padding-sm;
}

.button-lg {
  font-size: $font-size-lg;
  padding: $button-padding-lg;
}

.left {
  float: left;
}

.right {
  float: right;
}
