[class^="grid-"] {
  padding: $padding-sm;
  margin-bottom: $margin-md;
}

@for $i from 1 through length($sizes) {
  $size: nth($sizes, $i);

  @for $j from 1 through $grid-col-count {
    $currentWidth: ($j / $grid-col-count * 100) + %;

    @media #{nth($devices, $i)} {
      .grid-#{$size}-#{$j} {
        display: inline-block;
        width: $currentWidth;
      }

      .grid-#{$size}-offset-#{$j} {
        margin-left: $currentWidth;
      }
    }
  }
}
