.header {
  background: $header-color;
  z-index: 500;

  @media #{nth($devices, 3)} {
    height: $header-height;
  }

  &.fixed {
    @media #{nth($devices, 3)} {
      left: 0;
      position: fixed;
      right: 0;

      & + * {
        margin-top: $header-height;
      }
    }
  }

  & > nav {
    @media #{nth($devices, 3)} {
      display: inline-flex;
    }
  }

  ul {
    height: initial;
    margin: 0;
    padding: 0;

    & > li {
      display: block;
      height: 100%;

      @media #{nth($devices, 2)} {
        float: left;
      }
    }
  }

  &-brand, & .menu {
    @media #{nth($devices, 1)} {
      flex-direction: column;
    }

    a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: $padding-md;

      @media #{nth($devices, 1)} {
        text-align: center;
      }

      p {
        margin: 0;
      }
    }
  }

  &-brand {
    display: flex;
    align-items: center;

    a {
      flex-direction: column;

      @media #{nth($devices, 1)} {
        width: 100%;
      }

      @media #{nth($devices, 2)} {
        align-items: baseline;
      }
    }
  }

  &-brand, & > nav {
    height: 50%;
  }
}
