.hidden {
  display: none;
}

.visually-hidden {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  height: auto;
  overflow: visible;
  padding: $padding-md;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.invisible {
  visibility: hidden;
}
