body {
  color: $text-color;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
}

// Headings
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $font-size-lg + ($heading-scale * (6 - $i));
    margin-top: $text-margin-top * (7 - $i);
    margin-bottom: $text-margin-bottom * (7 - $i);
  }
}

p {
  margin-top: $text-margin-top;
  margin-bottom: $text-margin-bottom;
}


// Helper classes
.text-muted {
  font-size: 0.8rem;
}
