{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
<div{{ attributes.addClass('header-brand') }}>
  {{ title_prefix }}
  {%- if label -%}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {%- endif -%}
  {{ title_suffix }}

  {% if site_logo or site_name or site_slogan %}
    {% if site_logo %}
      <a href="{{ path('<front>') }}" rel="home" title="{{ 'Home'|t }}">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <a href="{{ path('<front>') }}" rel="home" title="{{ 'Home'|t }}">
        {%- if site_name %}<p>{{ site_name }}</p>{% endif -%}
        {% if site_slogan %}<p class="text-muted">{{ site_slogan }}</p>{% endif -%}
      </a>
    {% endif -%}
  {% endif %}
</div>
