input {
  &:focus {
    outline: none;
  }
}

.button {
  background-color: $button-color-default;
  border-color: $button-border-color-default;
  border-style: solid;
  border-radius: $button-border-radius;
  color: $black;
  cursor: pointer;
  text-decoration: none;
  transition: background-color $transition, border-color $transition;

  &:hover {
    background-color: darken($button-color-default, 10%);
    border-color: darken($button-border-color-default, 10%);
  }

  &:active {
    background-color: darken($button-color-default, 20%);
    border-color: darken($button-border-color-default, 20%);
  }

  &.primary {
    background-color: $button-color-primary;
    border-color: $button-border-color-primary;
    color: $white;

    &:hover {
      background-color: darken($button-color-primary, 10%);
      border-color: darken($button-border-color-primary, 10%);
    }

    &:active {
      background-color: darken($button-color-primary, 20%);
      border-color: darken($button-border-color-primary, 20%);
    }
  }

  .button-row & {
    border-radius: 0;

    &:not(:first-of-type) {
      border-left: none;
    }

    &:first-of-type {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }

    &:last-of-type {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
    }
  }
}

#{$textbox-elements} {
  border-color: $gray;
  border-style: solid;
  border-radius: 0.5rem;
  transition: border $transition;

  &, .button {
    &:hover {
      border-color: darken($gray, 10%);
    }
  }

  &:focus {
    border-color: $black;
  }
}
