.header {
  box-shadow: 0px 1px 5px 1px rgba($black, 0.33);

  &-brand > a, & .menu a {
    color: $white;
    text-decoration: none;
    transition: background-color $transition;

    &:hover {
      background-color: rgba($black, 0.05);
    }

    &:active {
      background-color: rgba($black, 0.1);
    }
  }

  & .menu a {
    @media #{nth($devices, 2)} {
      border-top-left-radius: $button-border-radius-lg;
      border-top-right-radius: $button-border-radius-lg;
    }
  }
}
